<div class="container">

  <div class="row mt-3">
    <div class="col">
      <h1 class="text-center"> Teste Angular
        <p>Este é o nosso primeiro projeto </p>
      </h1>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md2">
    </div>
    <div class="col">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores tempora molestias similique placeat atque
        veritatis tempore deserunt quos ab earum, accusamus dolorum, non a expedita architecto. Dignissimos, sapiente?
        Quae, corrupti?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita mollitia sed beatae eveniet incidunt natus
        voluptate vero corrupti voluptates, eaque esse rerum laboriosam nam aperiam velit distinctio? Fugit, aperiam
        alias.</p>
        <app-titulo></app-titulo>
    </div>
    <div class="col-md2"></div>
  </div>

</div>